.about-section {
  padding-bottom: 60px;
  padding-top: 120px;
  background-color: var(--color-light);
  @include tablet {
    padding-bottom: 40px;
    padding-top: 50px;
  }
  @include mobile {
    padding: 25px 0;
  }
}
