.footer {
  padding: 71px 0;
  color: rgba(255, 255, 255, 0.6);
  background: var(--color-ebony);

  &__container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    @include tablet {
      gap: 20px;
    }
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    grid-column: 7 span;
    @include tablet {
      grid-column: 12 span;
    }
  }

  &__form {
    grid-column: 5 span;
    @include tablet {
      grid-column: 12 span;
      max-width: 760px;
    }
  }

  &__address {
    grid-column: 4 span;
  }

  &__nav {
    grid-column: 8 span;
  }

  &__copyright {
    grid-column: 12 span;
    padding-top: 30px;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-light);

    span {
      padding-left: 22px;
      background-image: url(../img/heart.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }

  &__svg {
    fill: rgba(255, 255, 255, 0.6);
  }

  &__top {
    @include flex-v-center;
    margin-bottom: 15px;
  }

  &__logo {
    margin-right: 60px;
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
    @include tablet {
      margin-right: 30px;
    }
  }

  &__descr {
    margin: 0;
    width: 100%;
    max-width: 495px;
    font-size: 14px;
    line-height: 150%;
    @include tablet {
      max-width: 760px;
    }
  }
}

.footer-form {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: var(--color-light);
    margin-bottom: 30px;
  }

  &__items {
    @include flex-v-center;
  }

  &__btn {
    padding: 12px 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: normal;
  }

  .form-field {
    margin: 0;
  }

  .form-field__input {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__descr {
    margin-top: 16px;
    font-size: 12px;
    line-height: 150%;
  }
}
.footer-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;

  &__item {
    display: block;
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    a {
      color: inherit;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
      }

      &:hover {
        color: var(--color-light);
      }

      &:active {
        color: var(--color-light);
      }
    }
    @include tablet {
      font-size: 14px;
    }
  }

  &__name {
    color: var(--color-light);
  }
}

.footer-nav {
  display: flex;
  padding-top: 20px;
  padding-left: 54px;

  &__col {
    &:not(:last-child) {
      margin-right: 125px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 160%;
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      color: var(--color-light);
    }

    &:active {
      color: var(--color-light);
    }
  }
}
