.header {
  padding: 22px 0;
  &__container {
    @include flex-all-sb;
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__logo {
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
    @include mini-desktop {
      width: 100px;
    }
    @include tablet {
      width: 90px;
    }
  }
  @include tablet {
    padding: 15px 0;
  }
}
