.header {
  padding: 22px 0;
  &__container {
    @include flex-all-sb;
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__logo {
    margin-right: 60px;
  }
}
