.page-hero {
  background: var(--color-athens);
  padding-top: 153px;
  padding-bottom: 79px;
  background-repeat: no-repeat;
  // background-size: contain;
  min-height: 600px;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    max-width: 600px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    color: var(--color-ebony);
    margin-bottom: 23px;
    &--small {
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__meta {
    .article-meta__item {
      font-size: 16px;
      line-height: 160%;
      &:first-child {
        font-weight: 700;
        color: var(--color-primary);
      }
      &:nth-child(2) {
        background-image: url(../img/time.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: left center;
        padding-left: 28px;
      }
      &:not(:last-child)::after {
        height: 16px;
        right: -13px;
      }
      &--comments {
        padding-left: 28px;
        background-image: url(../img/comments.svg);
        background-position: left center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
      }
    }
  }

  &__social {
    display: flex;
    svg {
      fill: var(--color-storm);
      opacity: 1;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
    max-width: 600px;
  }
  &--services {
    background-image: url(../img/services-hero-bg.png);
    background-position: right -10px center;
  }

  &--services-inner {
    background-image: url(../img/services-inner-bg.png);
    background-position: right -10px top;
  }

  &--work {
    background-image: url(../img/hero-work-bg.png);
    background-position: right -10px top;
  }

  &--work-inner {
    background-color: var(--color-light);
    background-image: url(../img/work-inner-bg.png);
    background-position: right -10px top 48px;
  }

  &--about {
    background: var(--color-athens);
    background-image: url(../img/hero-about-bg.png);
    background-repeat: no-repeat;
    background-position: right -10px top;
  }

  &--positions {
    background: var(--color-athens);
    background-image: url(../img/positions-man-bg.png);
    background-position: right -10px bottom;
    background-repeat: no-repeat;
  }

  &--news {
    background-color: var(--color-athens);
    background-image: url(../img/hero-news-bg.png);
    background-position: right -10px center;
    background-size: contain;
  }

  &--contacts {
    background-color: var(--color-athens);
    background-image: url(../img/hero-contacts-bg.png);
    background-position: right -10px center;
    background-size: contain;
  }

  &--post {
    .page-hero__title {
      margin-bottom: 48px;
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      text-transform: initial;
      max-width: none;
    }
  }
}
