.page-hero {
  background: var(--color-athens);
  padding-top: 153px;
  padding-bottom: 79px;
  background-repeat: no-repeat;
  // background-size: contain;
  min-height: 600px;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    max-width: 600px;
    margin: 0;
    letter-spacing: 1;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    color: var(--color-ebony);
    margin-bottom: 23px;
    &--small {
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
    max-width: 600px;
  }
  &--services {
    background-image: url(../img/services-hero-bg.png);
    background-position: right -10px center;
  }

  &--services-inner {
    background-image: url(../img/services-inner-bg.png);
    background-position: right -10px top;
  }

  &--work {
    background-image: url(../img/hero-work-bg.png);
    background-position: right -10px top;
  }

  &--work-inner {
    background-color: var(--color-light);
    background-image: url(../img/work-inner-bg.png);
    background-position: right -10px top 48px;
  }
}
