.learn-more {
  @include flex-all-center;

  &__subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
    margin-right: 40px;
    @include mobile {
      font-size: 24px;
      line-height: 32px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @include mobile {
    display: block;
  }
}
