<section class="achiv">
    <h2 class="visually-hidden">Our Achievements</h2>
    <div class="container">
        <ul class="achiv__list grid">
            <li class="achiv__item achiv__item--reccom">
                <div class="achiv__value">60%</div>
                <div class="achiv__text">Clients on the recommendation of friends</div>
            </li>
            <li class="achiv__item achiv__item--apart">
                <div class="achiv__value">2400+</div>
                <div class="achiv__text">Apartments renovated</div>
            </li>
            <li class="achiv__item achiv__item--specialist">
                <div class="achiv__value">670</div>
                <div class="achiv__text">Qualified specialists</div>
            </li>
            <li class="achiv__item achiv__item--finish">
                <div class="achiv__value">150000+ m<sup>2</sup></div>
                <div class="achiv__text">Finishing work was carried out</div>
            </li>
        </ul>
    </div>
</section>