<section class="clients">
    <div class="container">
        <h2 class="title title--center clients__title">Our clients</h2>
        <ul class="clients__list">
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners1.png" alt="logo1" class="clients__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners2.png" alt="logo2" class="clients__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners3.png" alt="logo3" class="clients__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners4.png" alt="logo4" class="clients__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners5.png" alt="logo5" class="clients__logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partners/partners6.png" alt="logo6" class="clients__logo">
                </a>
            </li>
        </ul>
    </div>
</section>