<section class="partners partners--about">
    <div class="container">
        <h2 class="title title--center partners__title partners--about__title">Our partners</h2>
        <p class="partners__descr descr--center">We are supported by 12+ industry bodies and media partners</p>
        <ul class="partners__list">
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners1.png" alt="logo1" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners2.png" alt="logo2" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners3.png" alt="logo3" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners4.png" alt="logo4" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners5.png" alt="logo5" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners6.png" alt="logo6" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners1.png" alt="logo1" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners2.png" alt="logo2" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners3.png" alt="logo3" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners4.png" alt="logo4" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners5.png" alt="logo5" class="partners__logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partners/partners6.png" alt="logo6" class="partners__logo">
                </a>
            </li>
        </ul>
    </div>
</section>