<section class="portfolio">
    <div class="container">
        <h2 class="visually-hidden">Portfolio</h2>
        <ul class="portfolio-tabs-nav">
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn portfolio-tabs-nav__btn--active" data-path="all">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href="img/sprite.svg#tabs-house"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">All Projects</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-path="constr">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href="img/sprite.svg#interior"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Construction</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-path="dev">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href="img/sprite.svg#interior1"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Project Development</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-path="design">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href="img/sprite.svg#interior2"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Interior Design</span>
                </button>
            </li>
            <li class="portfolio-tabs-nav__item">
                <button class="btn-reset portfolio-tabs-nav__btn" data-path="repair">
                    <svg class="portfolio-tabs-nav__icon">
                        <use xlink:href="img/sprite.svg#interior3"></use>
                    </svg>
                    <span class="portfolio-tabs-nav__text">Repairs</span>
                </button>
            </li>
        </ul>
        <ul class="portfolio-tabs grid">
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="dev">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="design">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="repair">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="constr">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="constr">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="dev">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="design">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="repair">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="constr">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
            <li class="portfolio-tabs__item portfolio-tabs__item--visible">
                <a href="#" class="portfolio-item" data-target="constr">
                    <img src="/img/portfolio1.jpg" alt="" class="portfolio-item__image">
                    <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">Red Finger Building</h3>
                        <span class="portfolio-item__descr">Open space</span>
                        <div class="portfolio-item__btn">View Project</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="centered">
            <button class="btn-reset portfolio-more">
                <svg>
                    <use xlink:href="img/sprite.svg#reload"></use>
                </svg>
                Load more
            </button>
        </div>
    </div>
</section>