<section class="related-project">
    <div class="container">
        <div class="related-project__top">
            <h2 class="title related-project__title">Related projects</h2>
                <div class="slider-nav">
                    <button class="btn-reset slider-nav__btn related-project__prev slider-btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#left-arrow"></use>
                        </svg>
                    </button>
                    <button class="btn-reset slider-nav__btn related-project__next slider-btn">
                        <svg>
                            <use xlink:href="img/sprite.svg#right-arrow"></use>
                        </svg>
                    </button>
                </div>
        </div>
        <div class="swiper related-project__items">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="#" class="related-item">
                      <img src="/img/related1.jpg" alt="" class="related-item__image">
                      <div class="related-item__content">
                          <h3 class="related-item__title">Kids Bedroom With Decorations</h3>
                          <span class="related-item__descr">Apartments & flats</span>
                          <div class="related-item__btn">View Project</div>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="related-item">
                    <img src="/img/related2.jpg" alt="" class="related-item__image">
                    <div class="related-item__content">
                        <h3 class="related-item__title">Modern Double Bedroom</h3>
                        <span class="related-item__descr">Apartments & flats</span>
                        <div class="related-item__btn">View Project</div>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="related-item">
                    <img src="/img/related3.jpg" alt="" class="related-item__image">
                    <div class="related-item__content">
                        <h3 class="related-item__title">Scandinavian Style Interior</h3>
                        <span class="related-item__descr">Private houses</span>
                        <div class="related-item__btn">View Project</div>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="related-item">
                    <img src="/img/portfolio3.jpg" alt="" class="related-item__image">
                    <div class="related-item__content">
                        <h3 class="related-item__title">The Pencil Building</h3>
                        <span class="related-item__descr">Stores & Malls</span>
                        <div class="related-item__btn">View Project</div>
                    </div>
                </a>
              </div>
            </div>
        </div>
        <div class="related-project__learn learn-more">
            <h4 class="learn-more__subtitle">Explore all our works</h4>
            <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
        </div>
    </div>
</section>