* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  // color: #000;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: inherit;
//   font-weight: 400;
// }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  // outline: none;
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-ebony);
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }
  @include tablet {
    font-size: 52px;
  }
  @include mobile{
    font-size: 34px;
    line-height: 46px;
  }
}

.centered {
  width: 100%;
  text-align: center;
}

.main-descr {
  line-height: 150%;
  font-size: 20px;
  color: var(--color-storm);
  &--home {
    color: var(--color-light);
  }
  &--home {
    margin-bottom: 60px;
  }
  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
    line-height: 22px;
  }
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding: 15px 39px;
  border-radius: 4px;
  color: var(--color-light);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  @include tablet {
    font-size: 14px;
    padding: 10px 25px;
  }

  &--fill {
    background-color: var(--color-primary);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-active);
    }

    &:active {
      background-color: var(--color-active);
    }
  }
  &--stroke {
    &-light {
      border-color: var(--color-light);
    }
    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    &:active {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }
}

.title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);
  &--center {
    text-align: center;
  }
  @include tablet {
    font-size: 38px;
    margin-bottom: 20px;
  }
  @include small-tablet {
    font-size: 32px;
  }
  @include mobile {
    font-size: 24px;
    line-height: 34px;  
  }
}
.descr {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);
  &--center {
    text-align: center;
  }
  @include tablet {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @include mobile {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}
.section-offset {
  padding-top: 120px;
  @include tablet {
    padding-top: 40px;
  }
}

.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-grey);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 8px;
    transition: opacity 0.3s ease-in-out;
  }

  // &__input:checked + &__text {
  //   color: red;
  // }

  &__input:checked + &__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  // &__input:focus + &__text {
  //   outline: 2px solid var(--color-primary);
  //   // color: blue;
  // }
}

.custom-file {
  cursor: pointer;
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    font-size: 14px;
    line-height: 170%;
    color: var(--color-grey);
    background-image: url("../img/file-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
  }

  &__input:focus + &__text {
    outline: 2px solid var(--color-primary);
    // color: blue;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.to-top {
  position: fixed;
  bottom: 80px;
  right: calc((100% - 1230px) / 2);
  text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
  display: flex;
  align-items: flex-end;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &__text {
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-light);
    text-transform: uppercase;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
      fill: var(--color-light);
    }

    &:hover {
      background-color: var(--color-active);
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }
  @include mini-desktop {
    right: 20px;
    bottom: 20px;
  }
}


.graph-modal__close {
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-image: url("../img/close-modal.svg");
}
.site-modal {
  width: 486px;
  border-radius: 4px;
  padding: 48px;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);
    text-align: center;
    margin-bottom: 24px;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 20px;
    width: 100%;
  }

  .choices {
    width: 100%;

    &__inner {
      height: 52px;
      margin: 0;
      padding: 0;
      background-color: var(--color-athens);
      border: 1px solid #d7dadd;
      border-radius: 4px;
    }

    &__placeholder {
      opacity: 1;
      font-size: 16px;
      line-height: 160%;
      color: #9a9ca5;
    }
  }

  .is-focused {
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }

  .choices__list--dropdown .choices__item--selectable::after {
    display: none;
  }
  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 0;
  }
  .choices__list--single {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
    .choices__item {
      color: #9a9ca5;
    }
  }
  .choices[data-type*="select-one"]::after {
    border: none;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    margin-top: 0;
    right: 16px;
    width: 20px;
    height: 20px;
    background-image: url(../img/angle-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .choices[data-type*="select-one"].is-open::after {
    margin-top: -16px;
    transform: rotate(180deg) translateY(-50%);
  }

  .choices__list--dropdown .choices__item {
    opacity: 1;
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
  }
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  @include tablet {
    display: block;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.burger:focus::after {
  opacity: 1;
}
